<main class="container">
        <section class="ab2" id="ab1">
            <figure class=" col-md-12 about_us_img">
                <img src="app/assets/images/dev.png" alt="">
            </figure>
            <div class="col-md-12">
                <h1 class="ab_big_txt">
               Why i start this project?
           </h1>
                <p class="ab_small_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, voluptatum, sit. Facere et ratione unde, nemo tempore dolorem, magni quos dolore hic totam, eveniet nam omnis harum maiores illo quidem.100</p>
            </div>
            <div class="arrow_link">
                <a href="#ab2"><i class="fa fa-arrow-circle-o-down"></i></a>
            </div>
        </section>
        <section class="ab2" id="ab2">
          <h1 class="ab_big_txt">
               We all love tech
           </h1>
           <figure class=" col-md-12 about_us_img">
                <img src="img/dev.png" alt="">
            </figure>
           <p class="ab_small_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, voluptatum, sit. Facere et ratione unde, nemo tempore dolorem, magni quos dolore hic totam, eveniet nam omnis harum maiores illo quidem.100</p>
            <div class="clearfix"></div>
            <div class="arrow_link">
                <a href="#ab3"><i class="fa fa-arrow-circle-o-down"></i></a>
            </div> 
        </section>
        
         <section class="ab2" id="ab3">
          <h1 class="ab_big_txt">
               We all love tech
           </h1>
           <figure class=" col-md-12 about_us_img">
                <img src="img/dev.png" alt="">
            </figure>
           <p class="ab_small_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, voluptatum, sit. Facere et ratione unde, nemo tempore dolorem, magni quos dolore hic totam, eveniet nam omnis harum maiores illo quidem.100</p>
            <div class="clearfix"></div>
            <div class="arrow_link">
                <a href="#ab1"><i class="fa fa-arrow-circle-o-up"></i></a>
            </div> 
        </section>
</main>