<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
       <p>You have recived a message from the site's form, from <%= "#{@name}, #{@email}." %></p>
       <p><%= @body %></p>
    </body>
</html>