<% @products.each do |product| %>
    <div class="col-md-4 product_figure">
        <%= link_to product do %>
            <div class="product_link">
                <span><%= product.name%></span>
            </div><div class="product_form">
                <%= image_tag product.image, class: 'product_img' %>
            </div>
            <span class="product_price"><%= number_to_currency product.price %></span>
            <button class="product_buy">Review</button>
            
        <% end %>
    </div>
<% end %>